-e .
base58~=2.1.1
mnemonic~=0.21
bip32utils~=0.3.post4
ecdsa~=0.19.0
cryptography~=44.0.0
pyasn1~=0.6.1
pypergraph~=2025.0.0a3
pyee~=12.1.1
keyring~=25.6.0
eth-keys~=0.6.1
eth-utils~=5.2.0
httpx~=0.28.1
pytest~=8.3.4
pytest-asyncio~=0.25.3